@charset "utf-8";

// Import a Google Font

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

// Set your brand colors
$yellow: #f5be16;

// Update Bulma's global variables
$family-sans-serif: "Source Sans Pro", sans-serif;
$primary: $yellow;
$link: $yellow;
$navbar-item-color: black;
$navbar-item-hover-background-color: none;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;


$navbar-box-shadow-size: 0 3px 0 0;
$navbar-height: 4.5rem;



@import "~bulma/bulma.sass";

// Badge customization
$badge-font-size: 0.8rem;
$badge-height: 24px;
$badge-padding: .25rem .4rem; 
@import '@creativebulma/bulma-badge';

//Project styles
.navbar-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
}

.is-fullheight{
    height: 100%;
}

.tile.is-child.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-section{
    max-height: 50vh;
}
.hero-image{
    position: relative;
}
.hero-body{
    position: absolute;
    width:100%;
}